[submodule "crates/praborrow-core"]
	path = crates/praborrow-core
	url = https://github.com/ireddragonicy/praborrow-core.git
[submodule "crates/praborrow-defense"]
	path = crates/praborrow-defense
	url = https://github.com/ireddragonicy/praborrow-defense.git
[submodule "crates/praborrow-logistics"]
	path = crates/praborrow-logistics
	url = https://github.com/ireddragonicy/praborrow-logistics.git
[submodule "crates/praborrow-diplomacy"]
	path = crates/praborrow-diplomacy
	url = https://github.com/ireddragonicy/praborrow-diplomacy.git
[submodule "crates/praborrow-lease"]
	path = crates/praborrow-lease
	url = https://github.com/ireddragonicy/praborrow-lease.git
[submodule "crates/praborrow-sidl"]
	path = crates/praborrow-sidl
	url = https://github.com/ireddragonicy/praborrow-sidl.git
[submodule "crates/praborrow-macros"]
	path = crates/praborrow-macros
	url = https://github.com/ireddragonicy/praborrow-macros.git
