[package]
name = "xtask"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
clap = { version = "4.4", features = ["derive"] }
xshell = "0.2"
anyhow = "1.0"
owo-colors = "3.5" # Make it look expert with colors
